* {
    box-sizing: border-box;
}

header {
    border: 1px solid black;
}

#weather-area {
    border: 1px solid blue;
}

#search-bar {
    border: 1px solid green;
}

.green {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px;
}